site_name: OSG School 2025
site_url: https://osg-htc.org/school-2025/
repo_name: null
theme:
  name: material
  logo: assets/OSG_Logo.svg
  favicon: assets/OSG_Logo.png

markdown_extensions:
  - attr_list
  - admonition
  - codehilite:
      guess_lang: False
  - meta
  - pymdownx.details
  - toc:
      permalink: True

extra_css:
  - stylesheets/code-highlight.css
  - stylesheets/osg.css

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/OSGSchool
      name: OSG School on Twitter

nav:
  - Home:                           index.md
  - Schedule:                       schedule.md
  - Logistics:
    - General information:          logistics/index.md
    - Hotel information:            logistics/hotel.md
    - Location:                     logistics/location.md
    - Local transportation:         logistics/local-transportation.md
    - Visa requirements:            logistics/visas.md
    - Travel planning:              logistics/travel-planning.md
    - Travel advice:                logistics/travel-advice.md
    - Health guidelines:            logisitcs/health.md
